.firstslide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
//   justify-content: center;
//   align-items: center;
}
/* .firstslide .active .Intro {
  position: absolute;
  left: 0;
}
.firstslide .inactive * {
  position: absolute;
}

.firstslide .active * {
  position: absolute;
  left: 0;
}
.firstslide .inactive * {
  position: absolute;
} */