//$header1: 2rem;
// $header2: 1.1rem;
// $header3: 1.1rem;
// $text: 1.5rem;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

body {
  font-family: 'Quicksand', sans-serif;
}

@import 'global';
@import 'intro';
@import 'intro2';
@import 'tv';
@import 'header';
@import 'DL';
@import 'piedras';
@import 'introslider';
